/* slideshow-homepage-------------------------------------------------------------------- */
.home-slideshow{position: relative;}

.home-slideshow .slick-active .slider-content {
    z-index: 9999;
    visibility: visible;
    opacity: 1;
}
.home-slideshow .slick-slide img:hover{opacity: 1;}

.home-slideshow .slick-dots{display:none!important}

.slick-arrow {height:60px;line-height:60px;}

.home-slideshow .slick-arrow {
    font-size: 0px;width:60px;
    background: none;
    border: none;
}
.home-slideshow .slick-next:before {
    content: "\f105";
}
.home-slideshow .slick-arrow:before {
    font-family: FontAwesome;
}
.home-slideshow .slick-prev:before {
    content: "\f104";
}


 .slick-slide img{    margin: auto;}
.slick-arrow:before, .slick-arrow:before{opacity: 0;}
.home-slideshow:hover .slick-arrow:before, .home-slideshow:hover  .slick-arrow:before{opacity: 1;}
